body{font-family: "Lora", serif;
    background-color: #edf2fa;

}

#mountainImg{
    text-align: center;
    margin: auto;
    width: auto;
    height: auto;
    
}





#buttons{
    font-family: "Lora", serif;

}
    
